.app {
  display: table;
  margin: auto;
  padding: 50px 150px;

  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
  }
}


//Media Queries
@media(max-width: 687px) {

  .app {
    padding: 50px;

    &__cards {
      flex-direction: column;
    }
  }
}
